{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'css/main.css' %}" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Student ERP</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <a class="navbar-brand" href="#">Student ERP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if request.user.status == 'teacher' %}
                <a class="dropdown-item" href="{% url 'fac-send-email' %}">Invite Students</a>
                <a class="dropdown-item" href="{% url 'chech-wfh' %}">Check Homework</a>
                <a class="dropdown-item" href="{% url 'teach-wfh' %}">Give Homework</a>
              {% elif request.user.is_superuser %}
                <a class="dropdown-item" href="{% url 'admin-send-mail' %}">Invite Faculty</a>
                <a class="dropdown-item" href="{% url 'admin-invite-list' %}">Invitation List</a>    
              {% else %}
                <a class="dropdown-item" href="{% url 'stu-ques-data' %}">Your Questions</a>
                <a class="dropdown-item" href="{% url 'stu-ans-data' %}">Result Data</a>
              {% endif %}
               <a class="dropdown-item" href="{% url 'create-one-room' %}">Chat</a>
               <a class="dropdown-item" href="{% url 'log-out' %}">Log Out</a>

            </div>
          </li>
        </ul>
      </div>
    </nav>

        <!--sidebar start-->
    <div class="tab">
      <a href="{% url 'create-one-room' %}"><button class="tablinks">Create Channel</button></a>
      <div id="groupid">
        <button class="tablinks"  id="defaultOpen">Group</button>
      </div>
      
      {% for ele in channeldata %}
      <div id="onechatid">
        <a href="{% url 'one-room' ele.id %}">
          {% if request.user.full_name == ele.member_name %}
            <button class="tablinks" >{{ ele.admin_name }}</button>
          {% else %}
            <button class="tablinks" >{{ ele.member_name }}</button>
          {% endif %}
        </a>
      </div>
      {% endfor %}
    </div>

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block body-content %}
    {% endblock body-content %}

    {% block javascript-code %}
    {% endblock javascript-code %}

  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script>
    $(document).ready(function(){

       $("#onechatid").hide();

        $("#groupid").click(function(){
            $("#onechatid").toggle();
          });
       });
  </script>
  </body>
</html>